<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<b>Graphical Authentication System:</b>    <br><br>
<div>
    <form action="/profile" >
        <label>Name</label>
        <input  name="nname" type="text" placeholder="Write Your Name"><br><br>
        <label>College</label>
        <input name="cname" type="text" placeholder="Your College Name"><br><br>
        <label>Roll No:</label>
        <input  name="rnum "type="text" placeholder="Enter your Roll No:"><br><br>
        <input type="submit" value="LOGIN"><BR><BR><BR>


    </form>
</div>
<div>
    <form action="/new">
    <label><b>Are you new to a system?</b></label><br>
        <input type="submit" value="Register">
     </form>
</div>
</body>
</html>