<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
<b>Register Here:</b><br><br>
<form action="/profile" >
    <label>Name:</label>
        <input  name="nname" type="text" placeholder="Write Your Name"><br><br>
        <label>College:</label>
        <input name="cname" type="text" placeholder="Your College Name"><br><br>
        <label>Roll No:</label>
        <input  name="rnum "type="text" placeholder="Enter your Roll No:"><br><br>
    <button>Register</button>
</form>



</body>
</html>
